.button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    padding: 4px 8px;
    border-radius: 8px;
    color: lightseagreen;
    border: 2px solid white;
    outline: none;
    max-width: 110px;
    margin-bottom: 10px;
    transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      border 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover,
    &:focus {
      color: lightseagreen;
      border: 2px solid lightseagreen;
    }
  }