.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
    margin-bottom: 10px;
    border: 2px solid white;
    border-radius: 8px;
  }
  
  .nav_link {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color:  lightseagreen;
    border: 2px solid lightseagreen;
    border-radius: 8px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      border 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover,
    &:focus {
      color: white;
      background-color:  lightseagreen;
      border: 2px solid transparent;
      outline: none;
    }
  }
  
  .active {
    color: lightseagreen;
    border: 2px solid lightseagreen;
  }